#main {
	width: 650px;
	margin: 0 auto;
}
h1 {
	width: 200px;
	height: 150px;
	background: url(core/img/labs.png);
	text-indent: -9999px;
	overflow: hidden;
	margin: 20px auto 0 auto;
}
p.blurb {
	font-size: 16px;
	text-align: justify;
	line-height: 28px;
	margin-bottom: 80px;
}
ul li {
	list-style-type: none;
	padding: 20px 0;
	border-bottom: 1px solid #EEE;
}
ul li:last-child {
	border-bottom: none;
}
a.titleLink {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	background: #000;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
}
.itemLinks a {
	display: inline-block;
	margin: 0 6px 0 0;
	font-size: 13px;
}
li p {
	font-size: 14px;
	line-height: 20px;
}
.tags span {
	display: inline-block;
	color: #777;
	margin-right: 7px;
	text-transform: uppercase;
	font-size: 11px;
}
.tags span:before {
	content: "#"
}

.imageLink {
	float: left;
}

.entryRight {
	margin-left: 130px;
}

/* --- FOOTER --- */
footer {
	padding: 30px 0 40px 0;
	text-align: center;
	font-size: 11px;
}
footer, footer a {
	color: #AAA !important;
	-webkit-transition: color 1s linear;
}
	footer:hover, footer:hover a {
		color: #333 !important;
	}
	
		
	
/* --- ANIMATION --- */
.js .fadeOnLoad {
	opacity: 0;
	-webkit-transition: opacity 1s linear;
}
.fadeIn .fadeOnLoad {
	opacity: 1;
}