html {
	background: #2f3035; /* Old browsers */
		background-image: -moz-linear-gradient(top,  #191a1e 1%, #2f3035 100%); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#191a1e), color-stop(100%,#2f3035)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,  #191a1e 1%,#2f3035 100%); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(top,  #191a1e 1%,#2f3035 100%); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(top,  #191a1e 1%,#2f3035 100%); /* IE10+ */
		background-image: linear-gradient(to bottom,  #191a1e 1%,#2f3035 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191a1e', endColorstr='#2f3035',GradientType=0 ); /* IE6-9 */
	background-size: auto 100%;
	min-height: 100%;
}
body {
	background: transparent;
	text-align: center;
	min-height: 100%;
}
p {
	display: none;
	color: #888;
	width: 50%;
	margin: 10px auto;
}
h1 {
	padding: 100px 0 10px 0;
	color: #777;
	font-weight: 100;
	font-family: "Segoe UI Light","Helvetica Neue","Open Sans";
	font-size: 4em;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
}
#output {
	margin: 0 auto;
	width: 700px;
}

.no-webgl #fail,
.no-js #fail,
.is-file-protocol #fileprotocol {
	display: block;
}